Repository godot-rust/gdnative, pull requests merged in 2020-05, with the labels that each got.

#335 Add documentation for Android exports
  book/src/exporting/android.md
Labels: documentation

#342 Add variant attribute to skip fields
  gdnative-core/src/variant.rs
  gdnative-derive/src/variant.rs
  gdnative-derive/src/variant/attr.rs
  gdnative-derive/src/variant/bounds.rs
  gdnative-derive/src/variant/from.rs
  gdnative-derive/src/variant/repr.rs
  gdnative-derive/src/variant/to.rs
  test/src/test_derive.rs
Labels: enhancement, procedural-macro

#345 Infer Android include paths from environment
  gdnative-sys/build.rs
  gdnative-sys/src/lib.rs
Labels: gdnative-sys

#346 Simplify Android instructions for #345
  book/src/exporting/android.md
Labels: documentation

#351 typo: gdnaive -> gdnative
  gdnative-core/src/lib.rs
  gdnative/src/lib.rs
Labels: documentation

#353 Add ios simulator
  .travis.yml
  gdnative-sys/build.rs
Labels: enhancement, gdnative-sys

#355 Fix outdated doc-comments on InitHandle methods
  gdnative-core/src/init.rs
Labels: documentation

#358 Prevent UB from panic-in-FFI situations
  gdnative-core/src/init.rs
  gdnative-core/src/init/property/accessor.rs
  gdnative-core/src/lib.rs
  gdnative-core/src/macros.rs
  gdnative-core/src/user_data.rs
Labels: bug, core-wrappers

#362 Deprecate public fields of ExportInfo
  gdnative-core/src/init.rs
  gdnative-core/src/init/property.rs
Labels: core-wrappers

#360 Top-level hidden interface cleanup
  bindings_generator/src/methods.rs
  bindings_generator/src/special_methods.rs
  gdnative-bindings/src/lib.rs
  gdnative-core/src/byte_array.rs
  gdnative-core/src/class.rs
  gdnative-core/src/color.rs
  gdnative-core/src/color_array.rs
  gdnative-core/src/dictionary.rs
  gdnative-core/src/error.rs
  gdnative-core/src/float32_array.rs
  gdnative-core/src/generated.rs
  gdnative-core/src/init.rs
  gdnative-core/src/init/property.rs
  gdnative-core/src/int32_array.rs
  gdnative-core/src/lib.rs
  gdnative-core/src/macros.rs
  gdnative-core/src/node_path.rs
  gdnative-core/src/object.rs
  gdnative-core/src/private.rs
  gdnative-core/src/rid.rs
  gdnative-core/src/string.rs
  gdnative-core/src/string_array.rs
  gdnative-core/src/variant.rs
  gdnative-core/src/variant_array.rs
  gdnative-core/src/vector2.rs
  gdnative-core/src/vector2_array.rs
  gdnative-core/src/vector3.rs
  gdnative-core/src/vector3_array.rs
  test/src/lib.rs
Labels: core-wrappers

#361 Deprecate public items that will be removed
  gdnative-core/src/free_on_drop.rs
  gdnative-core/src/init.rs
  gdnative-core/src/object.rs
  test/src/lib.rs
Labels: core-wrappers

#370 #363: Replacing ToSting with Display.
  gdnative-core/src/string.rs
Labels: core-wrappers, enhancement

#368 Semi-seal the GodotObject trait.
  bindings_generator/src/special_methods.rs
  gdnative-core/src/object.rs
  gdnative-core/src/private.rs
Labels: core-wrappers, enhancement

#371 #364: Adding Debug for Core array types
  gdnative-core/src/byte_array.rs
  gdnative-core/src/color_array.rs
  gdnative-core/src/float32_array.rs
  gdnative-core/src/int32_array.rs
  gdnative-core/src/string_array.rs
  gdnative-core/src/variant_array.rs
  gdnative-core/src/vector2_array.rs
  gdnative-core/src/vector3_array.rs
  test/src/lib.rs
Labels: core-wrappers, enhancement

#369 Add the claim method to GodotObject
  gdnative-core/src/class.rs
  gdnative-core/src/object.rs
Labels: core-wrappers, enhancement

#374 Add clippy to CI, fix clippy correctness lints
  .travis.yml
  bindings_generator/src/api.rs
  bindings_generator/src/special_methods.rs
  gdnative-bindings/src/lib.rs
  gdnative-core/Cargo.toml
  gdnative-core/src/access.rs
  gdnative-core/src/float32_array.rs
  gdnative-core/src/generated.rs
  gdnative-core/src/lib.rs
  gdnative-core/src/macros.rs
  gdnative-core/src/object.rs
  gdnative-core/src/private.rs
  gdnative-core/src/vector2.rs
  gdnative-core/src/vector3.rs
  test/src/lib.rs
Labels: enhancement

#372 Add OSX.64 lib for test project.
  gdnative-core/src/vector2_array.rs
  gdnative-core/src/vector3_array.rs
  test/project/gdnative.gdnlib
Labels: enhancement

#376 Add Examples to the README
  README.md
Labels: documentation

#382 Add Aether<T>, a special UserData wrapper for ZSTs
  gdnative-core/src/user_data.rs
  test/src/test_register.rs
Labels: core-wrappers, enhancement

#383 [204]: Silences clippy warning caused by a macro.
  gdnative-core/src/variant.rs
Labels: enhancement

#384 [204] Removing lifetimes that can be elided.
  gdnative-core/src/byte_array.rs
  gdnative-core/src/color_array.rs
  gdnative-core/src/float32_array.rs
  gdnative-core/src/int32_array.rs
  gdnative-core/src/string_array.rs
  gdnative-core/src/vector2_array.rs
  gdnative-core/src/vector3_array.rs
Labels: core-wrappers, enhancement
