Repository godot-rust/gdnative, pull requests merged in 2020-09, with the labels that each got.

#575 Add procedural macro for Godot's built-in profiler
  gdnative-core/src/nativescript/macros.rs
  gdnative-core/src/nativescript/profiling.rs
  gdnative-core/src/private.rs
  gdnative-derive/src/lib.rs
  gdnative-derive/src/profiled.rs
Labels: core-wrappers, enhancement, procedural-macro

#578 Implementing Error for CallError.
  gdnative-core/src/core_types/variant.rs
Labels: core-wrappers, enhancement

#587 Fix module path in user_data documentation example
  gdnative-core/src/nativescript/user_data.rs
Labels: bug, example

#585 Add property set/get hooks.
  gdnative-derive/src/native_script.rs
  gdnative-derive/src/native_script/property_args.rs
  test/Cargo.toml
  test/src/test_derive.rs
Labels: procedural-macro

#592 parse default args
  bindings_generator/src/class_docs.rs
  gdnative-bindings/build.rs
Labels: bindings-generator, documentation, enhancement

#593 Implement RPC Modes
  gdnative-core/src/nativescript/init.rs
  gdnative-derive/src/methods.rs
Labels: enhancement, procedural-macro
