Repository godot-rust/gdnative, pull requests merged in 2020-10, with the labels that each got.

#615 Made Instance::new use NativeScript::new instead
  .travis.yml
  bindings_generator/src/api.rs
  gdnative-core/src/nativescript/class.rs
  gdnative-core/src/private.rs
  gdnative-derive/src/methods.rs
  test/project/addons/editor_test_runner/plugin.cfg
  test/project/addons/editor_test_runner/plugin.gd
  test/project/project.godot
Labels: bug, core-wrappers

#599 Fix pointer type for class name to *const c_char
  gdnative-core/src/private.rs
Labels: bug, core-wrappers

#620 Implement Plane methods
  gdnative-core/src/core_types/geom/plane.rs
Labels: core-wrappers, enhancement

#616 Proper fallback in case of TypeId widening
  .travis.yml
  gdnative-core/Cargo.toml
  gdnative-core/src/nativescript/type_tag.rs
  gdnative/Cargo.toml
  test/Cargo.toml
Labels: core-wrappers, enhancement

#622 Implement emplacement construction of instances
  gdnative-core/src/nativescript/class.rs
  gdnative-core/src/nativescript/emplace.rs
  gdnative-core/src/nativescript/init.rs
  gdnative-core/src/nativescript/mod.rs
  gdnative-derive/src/lib.rs
  gdnative-derive/src/native_script.rs
  test/src/test_derive.rs
  test/src/test_free_ub.rs
  test/src/test_return_leak.rs
Labels: core-wrappers, enhancement, procedural-macro

#626 add Default implementation to NodePath
  gdnative-core/src/core_types/node_path.rs
Labels: core-wrappers
