Repository godot-rust/gdnative, pull requests merged in 2020-06, with the labels that each got.

#367 Fix VariantOperator typos and discriminant values
  bindings_generator/src/api.rs
  bindings_generator/src/methods.rs
  gdnative-core/src/variant.rs
  test/src/lib.rs
  test/src/test_variant_ops.rs
Labels: breaking-change, bug, core-wrappers

#386 [204] Clippy general cleanup - returns, unused imports, short var names.
  gdnative-core/src/class.rs
  gdnative-core/src/geom/basis.rs
  gdnative-core/src/geom/transform.rs
  gdnative-core/src/init.rs
  gdnative-core/src/init/property/accessor.rs
  gdnative-core/src/init/property/accessor/invalid.rs
  gdnative-core/src/init/property/hint.rs
  gdnative-core/src/object.rs
  test/src/lib.rs
Labels: enhancement

#391 Implement unified generic typed array
  Cargo.toml
  gdnative-core/Cargo.toml
  gdnative-core/src/byte_array.rs
  gdnative-core/src/color.rs
  gdnative-core/src/color_array.rs
  gdnative-core/src/float32_array.rs
  gdnative-core/src/int32_array.rs
  gdnative-core/src/lib.rs
  gdnative-core/src/macros.rs
  gdnative-core/src/string_array.rs
  gdnative-core/src/typed_array.rs
  gdnative-core/src/vector2.rs
  gdnative-core/src/vector2_array.rs
  gdnative-core/src/vector3.rs
  gdnative-core/src/vector3_array.rs
  impl/proc_macros/Cargo.toml
  impl/proc_macros/src/lib.rs
  impl/proc_macros/src/typed_array_element.rs
Labels: breaking-change, core-wrappers, enhancement

#387 [204] using cast where possible
  gdnative-core/src/string.rs
  gdnative-core/src/variant.rs
Labels: enhancement

#385 [204] Adding is_empty() when len() exists
  gdnative-core/src/access.rs
  gdnative-core/src/string.rs
Labels: enhancement

#394 Implement extra TypedArray constructors, and conversion from iterators for collections
  gdnative-core/src/byte_array.rs
  gdnative-core/src/color_array.rs
  gdnative-core/src/dictionary.rs
  gdnative-core/src/float32_array.rs
  gdnative-core/src/int32_array.rs
  gdnative-core/src/string_array.rs
  gdnative-core/src/typed_array.rs
  gdnative-core/src/variant.rs
  gdnative-core/src/variant_array.rs
  gdnative-core/src/vector2_array.rs
  gdnative-core/src/vector3_array.rs
  impl/proc_macros/src/typed_array_element.rs
Labels: core-wrappers, enhancement

#398 [392]: Adding #[inline] and clippy restriction.
  bindings_generator/src/methods.rs
  bindings_generator/src/special_methods.rs
  gdnative-core/src/access.rs
  gdnative-core/src/class.rs
  gdnative-core/src/color.rs
  gdnative-core/src/dictionary.rs
  gdnative-core/src/free_on_drop.rs
  gdnative-core/src/geom/aabb.rs
  gdnative-core/src/geom/basis.rs
  gdnative-core/src/geom/plane.rs
  gdnative-core/src/geom/transform.rs
  gdnative-core/src/init.rs
  gdnative-core/src/init/property.rs
  gdnative-core/src/init/property/accessor.rs
  gdnative-core/src/init/property/accessor/invalid.rs
  gdnative-core/src/init/property/hint.rs
  gdnative-core/src/lib.rs
  gdnative-core/src/macros.rs
  gdnative-core/src/node_path.rs
  gdnative-core/src/object.rs
  gdnative-core/src/private.rs
  gdnative-core/src/rid.rs
  gdnative-core/src/string.rs
  gdnative-core/src/type_tag.rs
  gdnative-core/src/typed_array.rs
  gdnative-core/src/user_data.rs
  gdnative-core/src/variant.rs
  gdnative-core/src/variant_array.rs
  gdnative-core/src/vector3.rs
Labels: enhancement

#404 #357: make init_handle private
  gdnative-core/src/init.rs
Labels: enhancement

#403 #322: removing `get_` prefix from generated methods.
  bindings_generator/src/api.rs
  bindings_generator/src/methods.rs
  examples/dodge_the_creeps/src/main_scene.rs
  examples/dodge_the_creeps/src/player.rs
  examples/scene_create/src/lib.rs
  examples/spinning_cube/src/lib.rs
  test/src/lib.rs
  test/src/test_return_leak.rs
Labels: enhancement

#405 #357: Make `this` fields private.
  bindings_generator/src/classes.rs
  bindings_generator/src/methods.rs
  bindings_generator/src/special_methods.rs
Labels: bindings-generator, enhancement

#406 Adding BufWriter to gdnative-bindings/build.rs
  gdnative-bindings/build.rs
Labels: bindings-generator, enhancement

#409 Implement iterator for Dictionary
  gdnative-core/src/dictionary.rs
  gdnative-core/src/lib.rs
  test/src/lib.rs
Labels: core-wrappers, enhancement

#401 #300: Replacing `Clone` with `RefCounted`
  bindings_generator/src/classes.rs
  bindings_generator/src/lib.rs
  bindings_generator/src/special_methods.rs
  examples/dodge_the_creeps/src/main_scene.rs
  gdnative-core/src/byte_array.rs
  gdnative-core/src/class.rs
  gdnative-core/src/color_array.rs
  gdnative-core/src/dictionary.rs
  gdnative-core/src/float32_array.rs
  gdnative-core/src/init.rs
  gdnative-core/src/int32_array.rs
  gdnative-core/src/lib.rs
  gdnative-core/src/macros.rs
  gdnative-core/src/node_path.rs
  gdnative-core/src/ref_counted.rs
  gdnative-core/src/string.rs
  gdnative-core/src/string_array.rs
  gdnative-core/src/typed_array.rs
  gdnative-core/src/variant_array.rs
  gdnative-core/src/vector2_array.rs
  gdnative-core/src/vector3_array.rs
  gdnative/src/lib.rs
Labels: bindings-generator, core-wrappers, enhancement

#415 Fix and silence a few clippy lints
  gdnative-core/src/access.rs
  gdnative-core/src/class.rs
  gdnative-core/src/geom/basis.rs
  gdnative-core/src/user_data.rs
Labels: enhancement

#417 move generated bindings under a separate `api` module.
  README.md
  examples/dodge_the_creeps/src/extensions.rs
  examples/dodge_the_creeps/src/hud.rs
  examples/dodge_the_creeps/src/main_scene.rs
  examples/dodge_the_creeps/src/mob.rs
  examples/dodge_the_creeps/src/player.rs
  examples/hello_world/src/lib.rs
  examples/scene_create/src/lib.rs
  examples/signals/src/lib.rs
  examples/spinning_cube/src/lib.rs
  gdnative/src/lib.rs
  test/src/lib.rs
  test/src/test_free_ub.rs
  test/src/test_return_leak.rs
Labels: bindings-generator, breaking-change, enhancement

#416 Make all binding methods take shared references
  bindings_generator/src/documentation.rs
  bindings_generator/src/methods.rs
  examples/dodge_the_creeps/src/hud.rs
  examples/dodge_the_creeps/src/main_scene.rs
  examples/dodge_the_creeps/src/mob.rs
  examples/dodge_the_creeps/src/player.rs
  examples/scene_create/src/lib.rs
  examples/signals/src/lib.rs
  examples/spinning_cube/src/lib.rs
  gdnative-core/src/class.rs
  gdnative-core/src/macros.rs
  gdnative-core/src/object.rs
  test/src/lib.rs
  test/src/test_free_ub.rs
  test/src/test_register.rs
  test/src/test_return_leak.rs
Labels: breaking-change, enhancement

#418 [357]: making internal `fn`s and `struct`s private.
  bindings_generator/src/lib.rs
  bindings_generator/src/methods.rs
  gdnative-core/src/object.rs
  test/src/lib.rs
Labels: enhancement

#419 Dictionary and VariantArray now take &self and use typestate
  bindings_generator/src/api.rs
  bindings_generator/src/special_methods.rs
  examples/dodge_the_creeps/src/main_scene.rs
  examples/signals/src/lib.rs
  gdnative-core/src/dictionary.rs
  gdnative-core/src/init.rs
  gdnative-core/src/lib.rs
  gdnative-core/src/macros.rs
  gdnative-core/src/node_path.rs
  gdnative-core/src/object.rs
  gdnative-core/src/private.rs
  gdnative-core/src/rid.rs
  gdnative-core/src/string.rs
  gdnative-core/src/thread_access.rs
  gdnative-core/src/typed_array.rs
  gdnative-core/src/variant.rs
  gdnative-core/src/variant_array.rs
  gdnative-derive/src/methods.rs
  gdnative-derive/src/variant/attr.rs
  gdnative-derive/src/variant/bounds.rs
  gdnative-derive/src/variant/from.rs
  gdnative-derive/src/variant/repr.rs
  gdnative-derive/src/variant/to.rs
  gdnative-sys/build.rs
  test/src/test_derive.rs
  test/src/test_variant_ops.rs
Labels: breaking-change, core-wrappers, enhancement

#420 download cargo-dinghy binaries instead of building from scratch in CI
  .travis.yml
Labels: enhancement

#425 Allow qualified macro invocations (without use statements)
  gdnative-core/src/macros.rs
Labels: enhancement

#426 [407] Migrating `bindings_generator` to `proc_macro2`
  bindings_generator/Cargo.toml
  bindings_generator/src/api.rs
  bindings_generator/src/classes.rs
  bindings_generator/src/documentation.rs
  bindings_generator/src/lib.rs
  bindings_generator/src/methods.rs
  bindings_generator/src/special_methods.rs
  gdnative-bindings/build.rs
  gdnative-core/build.rs
Labels: bindings-generator, enhancement

#427 refactor gdnative-core to have a clearer module structure
  Cargo.toml
  gdnative-core/Cargo.toml
  gdnative-core/src/core_types/access.rs
  gdnative-core/src/core_types/byte_array.rs
  gdnative-core/src/core_types/color.rs
  gdnative-core/src/core_types/color_array.rs
  gdnative-core/src/core_types/dictionary.rs
  gdnative-core/src/core_types/error.rs
  gdnative-core/src/core_types/float32_array.rs
  gdnative-core/src/core_types/geom/aabb.rs
  gdnative-core/src/core_types/geom/basis.rs
  gdnative-core/src/core_types/geom/mod.rs
  gdnative-core/src/core_types/geom/plane.rs
  gdnative-core/src/core_types/geom/transform.rs
  gdnative-core/src/core_types/int32_array.rs
  gdnative-core/src/core_types/mod.rs
  gdnative-core/src/core_types/node_path.rs
  gdnative-core/src/core_types/point2.rs
  gdnative-core/src/core_types/rid.rs
  gdnative-core/src/core_types/string.rs
  gdnative-core/src/core_types/string_array.rs
  gdnative-core/src/core_types/typed_array.rs
  gdnative-core/src/core_types/variant.rs
  gdnative-core/src/core_types/variant_array.rs
  gdnative-core/src/core_types/vector2.rs
  gdnative-core/src/core_types/vector2_array.rs
  gdnative-core/src/core_types/vector3.rs
  gdnative-core/src/core_types/vector3_array.rs
  gdnative-core/src/lib.rs
  gdnative-core/src/macros.rs
  gdnative-core/src/nativescript/class.rs
  gdnative-core/src/nativescript/init.rs
  gdnative-core/src/nativescript/init/property.rs
  gdnative-core/src/nativescript/init/property/accessor.rs
  gdnative-core/src/nativescript/init/property/accessor/invalid.rs
  gdnative-core/src/nativescript/init/property/hint.rs
  gdnative-core/src/nativescript/macros.rs
  gdnative-core/src/nativescript/mod.rs
  gdnative-core/src/nativescript/type_tag.rs
  gdnative-core/src/nativescript/user_data.rs
  gdnative-core/src/private.rs
Labels: core-wrappers, enhancement

#432 update bindgen dependency to 0.54.0
  gdnative-sys/Cargo.toml
  gdnative-sys/build.rs
Labels: breaking-change, gdnative-sys

#433 Returning TokenStream to build.rs
  bindings_generator/src/classes.rs
  bindings_generator/src/documentation.rs
  bindings_generator/src/lib.rs
  bindings_generator/src/methods.rs
  bindings_generator/src/special_methods.rs
  gdnative-bindings/build.rs
  gdnative-bindings/src/lib.rs
  gdnative-core/Cargo.toml
  gdnative-core/build.rs
  gdnative-core/src/generated.rs
Labels: bindings-generator, enhancement

#438 Semantic revamp of Godot objects.
  .travis.yml
  bindings_generator/src/api.rs
  bindings_generator/src/classes.rs
  bindings_generator/src/dependency.rs
  bindings_generator/src/documentation.rs
  bindings_generator/src/lib.rs
  bindings_generator/src/methods.rs
  bindings_generator/src/special_methods.rs
  examples/dodge_the_creeps/src/extensions.rs
  examples/dodge_the_creeps/src/hud.rs
  examples/dodge_the_creeps/src/main_scene.rs
  examples/dodge_the_creeps/src/mob.rs
  examples/dodge_the_creeps/src/player.rs
  examples/hello_world/src/lib.rs
  examples/scene_create/src/lib.rs
  examples/signals/src/lib.rs
  examples/spinning_cube/src/lib.rs
  gdnative-bindings/src/lib.rs
  gdnative-core/src/core_types/access.rs
  gdnative-core/src/core_types/byte_array.rs
  gdnative-core/src/core_types/color_array.rs
  gdnative-core/src/core_types/dictionary.rs
  gdnative-core/src/core_types/float32_array.rs
  gdnative-core/src/core_types/int32_array.rs
  gdnative-core/src/core_types/node_path.rs
  gdnative-core/src/core_types/rid.rs
  gdnative-core/src/core_types/string.rs
  gdnative-core/src/core_types/string_array.rs
  gdnative-core/src/core_types/typed_array.rs
  gdnative-core/src/core_types/variant.rs
  gdnative-core/src/core_types/variant_array.rs
  gdnative-core/src/core_types/vector2_array.rs
  gdnative-core/src/core_types/vector3_array.rs
  gdnative-core/src/generated.rs
  gdnative-core/src/lib.rs
  gdnative-core/src/macros.rs
  gdnative-core/src/nativescript/class.rs
  gdnative-core/src/nativescript/init.rs
  gdnative-core/src/nativescript/init/property.rs
  gdnative-core/src/nativescript/init/property/accessor.rs
  gdnative-core/src/nativescript/init/property/hint.rs
  gdnative-core/src/nativescript/macros.rs
  gdnative-core/src/new_ref.rs
  gdnative-core/src/object.rs
  gdnative-derive/src/native_script.rs
  gdnative/src/lib.rs
  test/src/lib.rs
  test/src/test_derive.rs
  test/src/test_free_ub.rs
  test/src/test_register.rs
  test/src/test_return_leak.rs
  test/src/test_variant_call_args.rs
  test/src/test_variant_ops.rs
Labels: breaking-change

#443 use `syn::Error` in `NativeScript` derive and `#[methods]` macros
  gdnative-derive/src/methods.rs
  gdnative-derive/src/native_script.rs
Labels: enhancement, procedural-macro

#450 Removing duplicated Api::new() calls.
  bindings_generator/src/lib.rs
  gdnative-bindings/build.rs
  gdnative-core/build.rs
Labels: bindings-generator, enhancement

#449 Implement ThreadAccess typestate for Ref<T>
  bindings_generator/src/api.rs
  bindings_generator/src/documentation.rs
  bindings_generator/src/lib.rs
  bindings_generator/src/methods.rs
  bindings_generator/src/special_methods.rs
  examples/dodge_the_creeps/src/extensions.rs
  examples/dodge_the_creeps/src/hud.rs
  examples/dodge_the_creeps/src/main_scene.rs
  examples/dodge_the_creeps/src/mob.rs
  examples/dodge_the_creeps/src/player.rs
  examples/scene_create/src/lib.rs
  examples/signals/src/lib.rs
  examples/spinning_cube/src/lib.rs
  gdnative-bindings/src/lib.rs
  gdnative-core/src/core_types/variant.rs
  gdnative-core/src/generated.rs
  gdnative-core/src/lib.rs
  gdnative-core/src/nativescript/class.rs
  gdnative-core/src/nativescript/init/property.rs
  gdnative-core/src/nativescript/macros.rs
  gdnative-core/src/object.rs
  gdnative-core/src/object/raw.rs
  gdnative-core/src/ref_kind.rs
  gdnative-core/src/thread_access.rs
  gdnative/src/lib.rs
  test/src/lib.rs
  test/src/test_free_ub.rs
  test/src/test_register.rs
  test/src/test_return_leak.rs
  test/src/test_variant_call_args.rs
Labels: bindings-generator, bug, core-wrappers

#451 Reducing build times via miniserde
  Cargo.toml
  bindings_generator/Cargo.toml
  bindings_generator/src/api.rs
  bindings_generator/src/lib.rs
  gdnative-sys/Cargo.toml
  gdnative-sys/build.rs
Labels: enhancement

#456 Constrain `assume_safe` lifetime if ref-counted
  gdnative-core/src/nativescript/class.rs
  gdnative-core/src/object.rs
Labels: core-wrappers, enhancement

#463 [462] no bindings in core
  bindings_generator/src/lib.rs
  gdnative-bindings/build.rs
  gdnative-core/Cargo.toml
  gdnative-core/build.rs
  gdnative-core/src/core_types/variant.rs
  gdnative-core/src/generated.rs
  gdnative-core/src/lib.rs
  gdnative-core/src/nativescript/class.rs
  gdnative-core/src/object.rs
  gdnative-core/src/object/raw.rs
  gdnative-core/src/private.rs
  test/src/test_register.rs
  test/src/test_variant_call_args.rs
Labels: bindings-generator, breaking-change, enhancement

#473 add a curated prelude module to gdnative and gdnative-core
  examples/dodge_the_creeps/src/extensions.rs
  examples/dodge_the_creeps/src/hud.rs
  examples/dodge_the_creeps/src/lib.rs
  examples/dodge_the_creeps/src/main_scene.rs
  examples/dodge_the_creeps/src/mob.rs
  examples/dodge_the_creeps/src/player.rs
  examples/hello_world/src/lib.rs
  examples/scene_create/src/lib.rs
  examples/signals/src/lib.rs
  examples/spinning_cube/src/lib.rs
  gdnative-bindings/src/generated.rs
  gdnative-core/src/core_types/byte_array.rs
  gdnative-core/src/core_types/color_array.rs
  gdnative-core/src/core_types/dictionary.rs
  gdnative-core/src/core_types/float32_array.rs
  gdnative-core/src/core_types/geom/aabb.rs
  gdnative-core/src/core_types/geom/basis.rs
  gdnative-core/src/core_types/geom/plane.rs
  gdnative-core/src/core_types/geom/transform.rs
  gdnative-core/src/core_types/int32_array.rs
  gdnative-core/src/core_types/node_path.rs
  gdnative-core/src/core_types/point2.rs
  gdnative-core/src/core_types/string.rs
  gdnative-core/src/core_types/string_array.rs
  gdnative-core/src/core_types/typed_array.rs
  gdnative-core/src/core_types/variant.rs
  gdnative-core/src/core_types/variant_array.rs
  gdnative-core/src/core_types/vector2.rs
  gdnative-core/src/core_types/vector2_array.rs
  gdnative-core/src/core_types/vector3.rs
  gdnative-core/src/core_types/vector3_array.rs
  gdnative-core/src/lib.rs
  gdnative-core/src/macros.rs
  gdnative-core/src/nativescript/class.rs
  gdnative-core/src/nativescript/init.rs
  gdnative-core/src/nativescript/init/property.rs
  gdnative-core/src/nativescript/init/property/accessor.rs
  gdnative-core/src/nativescript/init/property/accessor/invalid.rs
  gdnative-core/src/nativescript/init/property/hint.rs
  gdnative-core/src/nativescript/macros.rs
  gdnative-core/src/object.rs
  gdnative-core/src/object/raw.rs
  gdnative-derive/src/methods.rs
  gdnative-derive/src/native_script.rs
  gdnative-derive/src/variant.rs
  gdnative-derive/src/variant/from.rs
  gdnative-derive/src/variant/repr.rs
  gdnative-derive/src/variant/to.rs
  gdnative/src/lib.rs
  gdnative/src/prelude.rs
  test/src/lib.rs
  test/src/test_derive.rs
  test/src/test_free_ub.rs
  test/src/test_register.rs
  test/src/test_return_leak.rs
  test/src/test_variant_call_args.rs
  test/src/test_variant_ops.rs
Labels: breaking-change, core-wrappers, enhancement

#478 remove inlining of Object methods in Reference
  bindings_generator/src/classes.rs
  bindings_generator/src/methods.rs
  gdnative-bindings/src/generated.rs
Labels: bindings-generator, enhancement

#479 reworked method implementation generation
  bindings_generator/src/api.rs
  bindings_generator/src/classes.rs
  bindings_generator/src/lib.rs
  bindings_generator/src/methods.rs
  bindings_generator/src/special_methods.rs
  gdnative-bindings/Cargo.toml
  gdnative-bindings/build.rs
  gdnative-bindings/src/generated.rs
  gdnative-bindings/src/icalls.rs
  gdnative-bindings/src/lib.rs
  gdnative-core/src/core_types/variant.rs
  test/src/lib.rs
  test/src/test_vararray_return.rs
Labels: bindings-generator, bug, enhancement

#480 let Api take the JSON data as a string
  bindings_generator/src/api.rs
  bindings_generator/src/lib.rs
  gdnative-bindings/api.json
  gdnative-bindings/build.rs
Labels: bindings-generator, breaking-change, enhancement

#481 Use "Travis workaround" for gnu toolchain on Windows
  gdnative-sys/build.rs
Labels: bug, gdnative-sys

#482 Implement trait-based static upcast
  bindings_generator/src/api.rs
  bindings_generator/src/classes.rs
  bindings_generator/src/lib.rs
  bindings_generator/src/special_methods.rs
  examples/dodge_the_creeps/src/extensions.rs
  examples/dodge_the_creeps/src/main_scene.rs
  examples/scene_create/src/lib.rs
  examples/signals/src/lib.rs
  gdnative-core/src/core_types/variant.rs
  gdnative-core/src/object.rs
  gdnative/src/prelude.rs
  test/src/test_return_leak.rs
Labels: bindings-generator, breaking-change, enhancement

#483 Replace `_init` with `new` in NativeScript derive macro
  README.md
  examples/dodge_the_creeps/src/hud.rs
  examples/dodge_the_creeps/src/main_scene.rs
  examples/dodge_the_creeps/src/mob.rs
  examples/dodge_the_creeps/src/player.rs
  examples/hello_world/src/lib.rs
  examples/scene_create/src/lib.rs
  examples/signals/src/lib.rs
  examples/spinning_cube/src/lib.rs
  gdnative-derive/src/native_script.rs
  test/src/lib.rs
Labels: breaking-change, procedural-macro

#484 Fix `Send` and `Sync` impls for API types
  bindings_generator/src/api.rs
  bindings_generator/src/lib.rs
  bindings_generator/src/special_methods.rs
  gdnative-core/src/object/raw.rs
Labels: bindings-generator, bug

#489 disable generation of virtual methods
  bindings_generator/src/methods.rs
Labels: bindings-generator, breaking-change

#492 use OwnedToVariant in argument position
  bindings_generator/src/api.rs
  bindings_generator/src/methods.rs
  gdnative-core/src/core_types/dictionary.rs
  gdnative-core/src/core_types/variant.rs
Labels: bindings-generator, enhancement

#498 Add `OwnedToVariant` derive macro, make Dictionary and VariantArray methods generic
  gdnative-core/src/core_types/dictionary.rs
  gdnative-core/src/core_types/variant.rs
  gdnative-core/src/core_types/variant_array.rs
  gdnative-derive/src/lib.rs
  gdnative-derive/src/variant.rs
  gdnative-derive/src/variant/repr.rs
  gdnative-derive/src/variant/to.rs
  test/src/test_derive.rs
Labels: core-wrappers, enhancement, procedural-macro

#499 Work around rustdoc showing hidden re-exports
  examples/hello_world/Cargo.toml
  examples/hello_world/src/lib.rs
  examples/scene_create/Cargo.toml
  examples/scene_create/src/lib.rs
  examples/spinning_cube/Cargo.toml
  examples/spinning_cube/src/lib.rs
  gdnative/src/lib.rs
  gdnative/src/prelude.rs
Labels: documentation

#497 Hide String::forget and String::to_sys
  gdnative-core/src/core_types/string.rs
Labels: bug, core-wrappers

#503 Update examples and readme, make NodePath arguments generic
  README.md
  bindings_generator/src/api.rs
  bindings_generator/src/methods.rs
  examples/dodge_the_creeps/src/lib.rs
  examples/dodge_the_creeps/src/player.rs
  examples/scene_create/src/lib.rs
  examples/signals/src/lib.rs
  gdnative-core/src/core_types/variant.rs
  test/src/test_variant_call_args.rs
Labels: bindings-generator, enhancement, example
