Repository godot-rust/gdnative, pull requests merged in 2021-01, with the labels that each got.

#676 Fix dynamic lib generation for rpc example
  examples/rpc/Server.gdns
  examples/rpc/ServerPuppet.gdns
  examples/rpc/client_server.gdnlib
  examples/rpc/client_server_library.gdnlib
Labels: bug, example

#677 Connect to server from client in RPC example
  examples/rpc/src/client.rs
Labels: example

#682 Construct Godot API objects from class names
  .github/workflows/ci.yml
  gdnative-core/src/object.rs
  gdnative-core/src/private.rs
  test/src/lib.rs
  test/src/test_constructor.rs
Labels: enhancement
