Repository godot-rust/gdnative, pull requests merged in 2021-09, with the labels that each got.

#779 Parse Godot documentation's BBCode and translate it to RustDoc
  bindings_generator/Cargo.toml
  bindings_generator/src/api.rs
  bindings_generator/src/class_docs.rs
Labels: crate: bindings, documentation

#760 Fixing bug of fn rotated in Vector3
  gdnative-core/src/core_types/geom/basis.rs
  gdnative-core/src/core_types/vector3.rs
  gdnative-core/src/object.rs
Labels: bug, crate: core

#783 Continuous Integration Overhaul
  .github/bors.toml
  .github/composite/llvm/action.yml
  .github/composite/rust/action.yml
  .github/workflows/ci.yml
  .github/workflows/minimal-ci.yml
  gdnative-sys/build.rs
Labels: feature, config

#743 serde support for core types & VariantDispatch
  gdnative-core/Cargo.toml
  gdnative-core/src/core_types/color.rs
  gdnative-core/src/core_types/error.rs
  gdnative-core/src/core_types/geom/aabb.rs
  gdnative-core/src/core_types/geom/basis.rs
  gdnative-core/src/core_types/geom/plane.rs
  gdnative-core/src/core_types/geom/transform.rs
  gdnative-core/src/core_types/mod.rs
  gdnative-core/src/core_types/node_path.rs
  gdnative-core/src/core_types/quat.rs
  gdnative-core/src/core_types/rect2.rs
  gdnative-core/src/core_types/string.rs
  gdnative-core/src/core_types/transform2d.rs
  gdnative-core/src/core_types/typed_array.rs
  gdnative-core/src/core_types/variant.rs
  gdnative-core/src/core_types/variant/serialize.rs
  gdnative-core/src/core_types/vector2.rs
  gdnative-core/src/core_types/vector3.rs
  gdnative/Cargo.toml
  test/Cargo.toml
  test/src/lib.rs
  test/src/test_serde.rs
Labels: feature, crate: core

#786 Publish docs of master version
  .github/workflows/doc.yml
  .github/workflows/doc/index.html
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  .github/workflows/release-version.yml
  bindings_generator/src/classes.rs
  gdnative-derive/src/lib.rs
Labels: feature, config

#787 Update text files with new documentation page
  .github/workflows/doc.yml
  CONTRIBUTING.md
  README.md
Labels: config
