Repository godot-rust/gdnative, pull requests merged in 2021-08, with the labels that each got.

#720 Implement Godot methods for Quat
  gdnative-core/src/core_types/geom/basis.rs
  gdnative-core/src/core_types/quat.rs
  gdnative-core/src/core_types/vector3.rs
Labels: enhancement, crate: core

#776 Silence UB warnings caused by bindgen
  gdnative-bindings/src/lib.rs
  gdnative-sys/src/lib.rs
Labels: bug, crate: bindings

#777 Properties are now registered in order of declaration
  gdnative-derive/src/native_script.rs
Labels: bug, crate: derive
