Repository godot-rust/gdnative, pull requests merged in 2021-11, with the labels that each got.

#795 Remove or change APIs causing UB
  examples/scene_create/src/lib.rs
  gdnative-core/src/core_types/dictionary.rs
  gdnative-core/src/core_types/mod.rs
  gdnative-core/src/core_types/variant.rs
  gdnative-core/src/core_types/variant_array.rs
  impl/proc_macros/src/doc.rs
  impl/proc_macros/src/lib.rs
  test/src/test_variant_call_args.rs
Labels: bug, crate: core

#809 Relax Dictionary bound for keys: ToVariant -> OwnedToVariant
  gdnative-core/src/core_types/dictionary.rs
Labels: crate: core, quality-of-life

#812 Extend safe name filter to support Godot 3.4 API
  bindings_generator/src/lib.rs
  bindings_generator/src/methods.rs
Labels: bug, crate: bindings

#811 Simplify module structure II
  bindings_generator/src/api.rs
  bindings_generator/src/classes.rs
  bindings_generator/src/documentation.rs
  bindings_generator/src/lib.rs
  bindings_generator/src/special_methods.rs
  examples/array_export/src/lib.rs
  examples/spinning_cube/src/lib.rs
  gdnative-async/src/method.rs
  gdnative-async/src/rt.rs
  gdnative-async/src/rt/bridge.rs
  gdnative-async/src/rt/func_state.rs
  gdnative-bindings/build.rs
  gdnative-bindings/src/utils.rs
  gdnative-core/Cargo.toml
  gdnative-core/src/core_types/transform2d.rs
  gdnative-core/src/export/class.rs
  gdnative-core/src/export/class_builder.rs
  gdnative-core/src/export/class_registry.rs
  gdnative-core/src/export/emplace.rs
  gdnative-core/src/export/macros.rs
  gdnative-core/src/export/method.rs
  gdnative-core/src/export/mod.rs
  gdnative-core/src/export/property.rs
  gdnative-core/src/export/property/accessor.rs
  gdnative-core/src/export/property/hint.rs
  gdnative-core/src/export/property/invalid_accessor.rs
  gdnative-core/src/export/type_tag.rs
  gdnative-core/src/export/user_data.rs
  gdnative-core/src/init/info.rs
  gdnative-core/src/init/init_handle.rs
  gdnative-core/src/init/macros.rs
  gdnative-core/src/init/mod.rs
  gdnative-core/src/lib.rs
  gdnative-core/src/log.rs
  gdnative-core/src/macros.rs
  gdnative-core/src/object/instance.rs
  gdnative-core/src/object/mod.rs
  gdnative-core/src/private.rs
  gdnative-core/src/profiler.rs
  gdnative-derive/src/lib.rs
  gdnative-derive/src/methods.rs
  gdnative-derive/src/native_script.rs
  gdnative-derive/src/profiled.rs
  gdnative-derive/src/varargs.rs
  gdnative/src/lib.rs
  gdnative/src/prelude.rs
  gdnative/tests/ui/derive_property_basic.rs
  test/src/lib.rs
  test/src/test_derive.rs
  test/src/test_map_owned.rs
  test/src/test_register.rs
Labels: crate: core, documentation, breaking-change, quality-of-life

#815 Rename symbols for increased clarity
  bindings_generator/src/documentation.rs
  bindings_generator/src/special_methods.rs
  examples/dodge_the_creeps/src/main_scene.rs
  examples/native_plugin/src/lib.rs
  examples/scene_create/src/lib.rs
  gdnative-async/src/method.rs
  gdnative-async/src/rt.rs
  gdnative-async/src/rt/bridge.rs
  gdnative-async/src/rt/func_state.rs
  gdnative-bindings/src/utils.rs
  gdnative-core/src/core_types/access.rs
  gdnative-core/src/core_types/byte_array.rs
  gdnative-core/src/core_types/color_array.rs
  gdnative-core/src/core_types/dictionary.rs
  gdnative-core/src/core_types/float32_array.rs
  gdnative-core/src/core_types/int32_array.rs
  gdnative-core/src/core_types/mod.rs
  gdnative-core/src/core_types/pool_array.rs
  gdnative-core/src/core_types/string_array.rs
  gdnative-core/src/core_types/variant.rs
  gdnative-core/src/core_types/variant_array.rs
  gdnative-core/src/core_types/vector2_array.rs
  gdnative-core/src/core_types/vector3_array.rs
  gdnative-core/src/export/class.rs
  gdnative-core/src/export/class_builder.rs
  gdnative-core/src/export/macros.rs
  gdnative-core/src/export/method.rs
  gdnative-core/src/object/bounds.rs
  gdnative-core/src/object/instance.rs
  gdnative-core/src/object/memory.rs
  gdnative-core/src/object/mod.rs
  gdnative-core/src/object/ownership.rs
  gdnative-core/src/object/raw.rs
  gdnative-core/src/private.rs
  gdnative/src/prelude.rs
  impl/proc_macros/src/lib.rs
  impl/proc_macros/src/pool_array_element.rs
  test/src/test_register.rs
Labels: crate: core, breaking-change, quality-of-life

#819 Re-organize Variant conversion methods
  bindings_generator/src/methods.rs
  examples/rpc/src/client.rs
  examples/rpc/src/server.rs
  examples/scene_create/src/lib.rs
  examples/signals/src/lib.rs
  gdnative-async/src/method.rs
  gdnative-async/src/rt/bridge.rs
  gdnative-async/src/rt/func_state.rs
  gdnative-core/src/core_types/dictionary.rs
  gdnative-core/src/core_types/string.rs
  gdnative-core/src/core_types/variant.rs
  gdnative-core/src/core_types/variant_array.rs
  gdnative-core/src/export/class_builder.rs
  gdnative-core/src/export/macros.rs
  gdnative-core/src/export/method.rs
  gdnative-core/src/export/property/accessor.rs
  gdnative-core/src/export/property/invalid_accessor.rs
  gdnative-core/src/object/instance.rs
  test/src/lib.rs
  test/src/test_derive.rs
  test/src/test_free_ub.rs
  test/src/test_register.rs
  test/src/test_variant_call_args.rs
Labels: crate: core, breaking-change, quality-of-life

#822 Fix/suppress clippy lints on nightly
  gdnative-bindings/src/lib.rs
  gdnative-core/src/core_types/transform2d.rs
  gdnative-core/src/core_types/variant.rs
  gdnative-core/src/export/user_data.rs
  gdnative-core/src/lib.rs
  test/src/lib.rs
Labels: quality-of-life

#816 Expose GodotString formatting facility
  gdnative-core/src/core_types/string.rs
Labels: feature, crate: core
