Repository godot-rust/gdnative, pull requests merged in 2022-05, with the labels that each got.

#870 Returns the dereferenced type in the exported method
  gdnative-core/src/export/macros.rs
  gdnative-core/src/export/mod.rs
  gdnative-derive/src/lib.rs
  gdnative-derive/src/methods.rs
Labels: feature, c: export

#872 New syntax for #[export] methods and #[base] parameters
  examples/dodge-the-creeps/src/hud.rs
  examples/dodge-the-creeps/src/main_scene.rs
  examples/dodge-the-creeps/src/mob.rs
  examples/dodge-the-creeps/src/player.rs
  examples/hello-world/src/lib.rs
  examples/native-plugin/src/lib.rs
  examples/resource/src/lib.rs
  examples/rpc/src/client.rs
  examples/rpc/src/server.rs
  examples/scene-create/src/lib.rs
  examples/signals/src/lib.rs
  examples/spinning-cube/src/lib.rs
  gdnative-core/src/export/macros.rs
  gdnative-core/src/export/mod.rs
  gdnative-derive/src/lib.rs
  gdnative-derive/src/methods.rs
  gdnative/tests/ui/derive_pass.rs
  test/src/lib.rs
Labels: c: export, quality-of-life

#888 NativeClass: mark internal methods with potential naming conflicts for renaming
  examples/spinning-cube/src/lib.rs
  gdnative-bindings/build.rs
  gdnative-core/src/core_types/variant/serialize.rs
  gdnative-core/src/export/class.rs
  gdnative-core/src/init/init_handle.rs
  gdnative-core/src/object/as_arg.rs
Labels: bug, c: export

#890 Add cargo-machete and remove unnecessary dependencies 🔪
  .github/workflows/full-ci.yml
  bindings-generator/Cargo.toml
  gdnative-async/Cargo.toml
  gdnative-bindings/Cargo.toml
  gdnative-sys/Cargo.toml
  test/Cargo.toml
Labels: c: ci, quality-of-life

#891 Add missing tests to #[methods] macro
  gdnative/tests/ui/derive_fail_methods.stderr
  test/src/test_derive.rs
Labels: c: export, quality-of-life

#896 Refactor integration tests by reusing godot_test macro
  gdnative-core/src/macros.rs
  impl/proc-macros/src/lib.rs
  test/Cargo.toml
  test/src/lib.rs
  test/src/test_as_arg.rs
  test/src/test_constructor.rs
  test/src/test_derive.rs
  test/src/test_free_ub.rs
  test/src/test_map_owned.rs
  test/src/test_register.rs
  test/src/test_return_leak.rs
  test/src/test_serde.rs
  test/src/test_vararray_return.rs
  test/src/test_variant_call_args.rs
  test/src/test_variant_ops.rs
Labels: c: tools, quality-of-life
