Repository godot-rust/gdnative, pull requests merged in 2022-07, with the labels that each got.

#901 GDscript builtin functions to rust
  gdnative-core/src/globalscope.rs
  gdnative-core/src/lib.rs
  gdnative/src/lib.rs
Labels: feature, c: core

#886 Add TryFrom to convert from Varargs to tuples
  gdnative-core/src/export/method.rs
  test/src/test_register.rs
Labels: feature, c: export

#867 Implement methods on Rect2 and Aabb
  bindings-generator/src/api.rs
  gdnative-core/src/core_types/geom/aabb.rs
  gdnative-core/src/core_types/geom/plane.rs
  gdnative-core/src/core_types/geom/rect2.rs
  gdnative-core/src/core_types/vector3.rs
  tools/deny.toml
Labels: feature, c: core

#906 Cleanup and bugfixes for recently added globalscope functions
  gdnative-core/src/globalscope.rs
Labels: bug, c: core, documentation

#909 Remove outdated GDNative API checks which prevented compilation of Godot 3.5 RC
  gdnative-core/src/private.rs
  gdnative-sys/build.rs
Labels: bug, c: tools

#911 `Ord` implementation now covered by macro
  gdnative-core/src/core_types/rid.rs
  gdnative-core/src/core_types/string.rs
  gdnative-core/src/core_types/variant.rs
  gdnative-core/src/macros.rs
Labels: c: core, quality-of-life

#912 Test + workaround: `Eq/Ord` for `StringName`
  gdnative-core/src/core_types/string.rs
  test/src/lib.rs
Labels: bug, c: core, status: upstream

#883 Property support for std collection types
  Cargo.toml
  README.md
  examples/array-export/array_export_library.gdnlib
  examples/builder-export/Cargo.toml
  examples/builder-export/ExportsArrays.gdns
  examples/builder-export/ExportsArrays.tscn
  examples/builder-export/builder_export_library.gdnlib
  examples/builder-export/default_env.tres
  examples/builder-export/icon.png
  examples/builder-export/icon.png.import
  examples/builder-export/project.godot
  examples/builder-export/src/lib.rs
  examples/property-export/Cargo.toml
  examples/property-export/GDScriptPrinter.gd
  examples/property-export/Main.tscn
  examples/property-export/default_env.tres
  examples/property-export/project.godot
  examples/property-export/property_export_library.gdnlib
  examples/property-export/src/lib.rs
  gdnative-core/src/core_types/variant.rs
  gdnative-core/src/export/property.rs
  test/src/lib.rs
Labels: feature, c: export
