Repository godot-rust/gdnative, pull requests merged in 2022-01, with the labels that each got.

#833 Feature flag for custom Godot version
  .github/composite/godot/action.yml
  .github/workflows/doc.yml
  .github/workflows/full-ci.yml
  .github/workflows/minimal-ci.yml
  .github/workflows/release-version.yml
  README.md
  gdnative-bindings/Cargo.toml
  gdnative-bindings/build.rs
  gdnative-core/Cargo.toml
  gdnative-core/src/core_types/geom/transform2d.rs
  gdnative-core/src/export/type_tag.rs
  gdnative-core/src/lib.rs
  gdnative-core/src/macros.rs
  gdnative/Cargo.toml
  gdnative/src/lib.rs
  gdnative/src/prelude.rs
  test/Cargo.toml
  test/project/addons/editor_test_runner/plugin.gd
  test/project/main.gd
Labels: feature, c: bindings, c: tools, c: ci

#839 Fix regression in sync-doc CI job
  .github/workflows/doc.yml
  gdnative/src/lib.rs
Labels: bug, documentation, c: ci

#832 C argument names that conflict with rust keywords are given a gd_ prefix.
  bindings_generator/src/lib.rs
Labels: bug, c: bindings

#837 Allow `impl Into<NodePath>` for `NodeExt` methods and simplify impls
  gdnative-bindings/src/utils.rs
  test/src/test_as_arg.rs
Labels: c: bindings, quality-of-life

#844 `Rid` and APIs accepting it are now unsafe
  bindings_generator/src/api.rs
  bindings_generator/src/methods.rs
  gdnative-core/src/core_types/rid.rs
  gdnative-core/src/export/mod.rs
  gdnative-core/src/init/mod.rs
Labels: bug, c: core, c: bindings, breaking-change

#838 Godot version check + workaround for API generation bug
  .github/workflows/full-ci.yml
  bindings_generator/Cargo.toml
  bindings_generator/src/godot_api_json.rs
  bindings_generator/src/godot_version.rs
  bindings_generator/src/lib.rs
  gdnative-bindings/Cargo.toml
  gdnative-bindings/build.rs
Labels: c: tools, c: ci, quality-of-life

#840 Fix unresolved enum name in bindings generator
  bindings_generator/src/api.rs
  bindings_generator/src/classes.rs
Labels: bug, c: bindings

#843 Add PoolArray::to_vec(), improve doc around read()/write()
  gdnative-core/src/core_types/byte_array.rs
  gdnative-core/src/core_types/pool_array.rs
Labels: c: core, quality-of-life

#847 Separate static name from `NativeClass` into new trait
  gdnative-async/src/rt.rs
  gdnative-async/src/rt/bridge.rs
  gdnative-async/src/rt/func_state.rs
  gdnative-core/src/core_types/variant.rs
  gdnative-core/src/export/class.rs
  gdnative-core/src/export/class_registry.rs
  gdnative-core/src/export/emplace.rs
  gdnative-core/src/export/method.rs
  gdnative-core/src/export/property/accessor.rs
  gdnative-core/src/export/property/invalid_accessor.rs
  gdnative-core/src/init/init_handle.rs
  gdnative-core/src/object/instance.rs
  gdnative-derive/src/lib.rs
  gdnative-derive/src/native_script.rs
  test/src/test_register.rs
  test/src/test_return_leak.rs
  test/src/test_variant_call_args.rs
Labels: c: export, quality-of-life

#851 Fix UI tests, whitespace in error messages is different in Rust 1.58
  gdnative/tests/ui/from_variant_fail_01.stderr
  gdnative/tests/ui/from_variant_fail_07.stderr
  gdnative/tests/ui/to_variant_fail_01.stderr
  gdnative/tests/ui/to_variant_fail_07.stderr
Labels: bug, c: ci

#849 Add cargo-deny to CI
  .github/workflows/full-ci.yml
  examples/array_export/Cargo.toml
  examples/dodge_the_creeps/Cargo.toml
  examples/hello_world/Cargo.toml
  examples/native_plugin/Cargo.toml
  examples/resource/Cargo.toml
  examples/rpc/Cargo.toml
  examples/scene_create/Cargo.toml
  examples/signals/Cargo.toml
  examples/spinning_cube/Cargo.toml
  test/Cargo.toml
  test/src/test_serde.rs
  tools/deny.toml
Labels: c: ci, quality-of-life

#754 Allow the use of the new Android ndk paths
  .github/workflows/full-ci.yml
  gdnative-sys/Cargo.toml
  gdnative-sys/build.rs
Labels: feature, help wanted

#853 Clippy warnings on nightly + first cargo-deny entry
  gdnative-derive/src/variant/from.rs
  gdnative-derive/src/variant/repr.rs
  gdnative-derive/src/variant/to.rs
  tools/deny.toml
Labels: c: ci, quality-of-life
