Repository godot-rust/gdnative, pull requests merged in 2022-02, with the labels that each got.

#841 Add `get`/`set` to `property` attribute to specify custom getter/setter
  gdnative-core/src/export/property.rs
  gdnative-derive/src/lib.rs
  gdnative-derive/src/native_script.rs
  gdnative-derive/src/native_script/property_args.rs
  gdnative/src/prelude.rs
  test/src/test_derive.rs
Labels: feature, c: export

#845 Changelog for v0.10
  CHANGELOG.md
Labels: documentation, c: tools

#865 Publishing CI + v0.10.0-rc.0 preparation
  .github/workflows/release-version.yml
  README.md
  bindings-generator/Cargo.toml
  gdnative-async/Cargo.toml
  gdnative-bindings/Cargo.toml
  gdnative-core/Cargo.toml
  gdnative-derive/Cargo.toml
  gdnative-sys/Cargo.toml
  gdnative/Cargo.toml
  impl/proc-macros/Cargo.toml
  tools/update-version.sh
Labels: c: tools, c: ci, quality-of-life

#866 Remove stray word in Transform docs.
  gdnative-core/src/core_types/geom/transform.rs
Labels: documentation
